<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
  </div>
  <div style="background-color:grey;width: 60%;border-width: thick;padding:20px;border:10px solid white ;
  margin-right: auto;margin-left:auto;">
    <h1 style="font-family: monospace; font-size: 25px"><strong><u>ABOUT</u></strong>
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>This club/organization was created to encourage people of all genders, race, religion, etc. to be interested in Science Technology Engineering and Mathematics, and to spread diversity within the industries.<br> 
    T.E.@.M. stands for:</strong></p>
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>T</strong>echnology</p>
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>E</strong>ngineering</p>
    <p style="font-family: monospace;color: white;font-size: 17px; text-align: center;"><strong>@</strong>(at symbol, meaning for everyone)</p>
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>M</strong>edicine</p></h1>
</div>