<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
  </div>
  <div style="background-color:white;width: 60%;border-width: thick;color:black;padding:20px;border:10px solid turquoise;
  margin-right: auto;margin-left:auto;font-family: monospace;font-size: 15px">
   <p style="color: black;font-size: 17px ;font-family: monospace; text-align: left; ">Throughout history, <br>there have been <br>several events that<br>have revolutionized<br>the face of the world<br>as we know it through<br>their displays,<br>showcases,<br>discoveries,</p>
   <p style="color: black; font-size: 17px ;margin-top:-170px;font-family: monospace; text-align: right; ">and contributions<br> to scientific<br> knowledge. Here <br>are just ten of the<br> several influential <br>events that<br> changed history.</p>
   
  <style>
    table,
      td {
          border: 1px solid #333;
          margin-top: -170px;
      }
      tbody{
        font-size: 15px;
      }
      thead,
      tfoot {
          background-color: #333;
          color: #fff;
      }
  </style>
  <table style="margin-right: auto;margin-left:auto; text-align: center;">
    <thead>
        <tr>
            <th colspan="2" style="background-color: #333;">IMPORTANT STEM EVENTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.britannica.com/topic/worlds-fair"><br>World's Fair<br></a></td>
            <td><a href="https://www.nobelprize.org/prizes/facts/nobel-prize-facts/"><br>Nobel Prize Ceremony<br></a></td>
        </tr>
      	<tr>
          <td><a href="https://www.worldsciencefestival.com/"><br>World Science <br>Festival<br></a></td>
          <td><a href="https://en.wikipedia.org/wiki/Century_of_Progress"><br>A Century of Progress<br> International Exposition<br></a></td>
        </tr>
      <tr>
        <td><a href="http://www.solvayinstitutes.be/html/solvayconference.html"><br>Solvay Conference<br></a></td>
        <td><a href="http://www.atomicheritage.org/history/trinity-test-1945"><br>Trinity Nuclear Test<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.nasa.gov/mission_pages/hubble/science/xdf.html"><br>Hubble's "eXtreme<br> Deep Field"<br></a></td>
        <td><a href="https://www.space.com/33892-cosmic-microwave-background.html"><br>Cosmic Microwave<br> Background<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.energy.gov/edison-vs-tesla"><br>Tesla VS Edison<br></a></td>
        <td><a href="https://www.nature.com/articles/nature01399"><br>Double Helix Model<br></a></td>
        </tr>
      
      
    </tbody>
  </table>
</div>