<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
  </div>
   
    <div>
      <img id="nazpic" style="width:500px;height:350px; margin: 0;margin-top: 20px; display: block;
      margin-left: auto;
      margin-right: auto;"
       src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_4/v1543943440/nazareth/thjqvaknzoj4jfhwi9bh/FrontOfBuilding.jpg" ></img>

      <p style="color: white;background-size: 100%,50%;background-repeat: no-repeat;height: 600px;background-image: url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif) ; font-size: 19px; font-family:monospace; text-align: left; margin-top: -350px;">
        In September 2019, a <br>new club was formed by <br>three  Juniors at Nazareth Academy <br>High School. It is called T.E.@.M.<br> Careers 
      Club and it serves as <br>an outlet for S.T.E.M. information, <br>
      innovation, and advancement. Its<br> main purpose 
      is to spread <br>awareness of the tech industry, <br>
      the gender gap, and<br> to encourage students to<br> 
      become excited about these fields.
      </p>
      <p style="color: white;text-align: right;height: 600px; font-size: 21px; font-family:monospace; text-align: right; margin-top: -600px;">
      If you have any <br>questions about what our<br> program does, what our<br> meetings are like, or just<br> want to explore, please<br> feel free to check out <br>the rest of the website <br>by clicking through the<br> navigation bar!</p>
  </div>

  </body>
</html>
