<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
  </div>
  <div style="background-color:white;width: 60%;border-width: thick;color:black;padding:20px;border:10px solid turquoise;
  margin-right: auto;margin-left:auto;font-family: monospace;font-size: 15px">
   <p style="color: black;font-size: 17px ;font-family: monospace; text-align: left; ">Throughout history, <br>there have been several<br> inventions that <br>have revolutionized <br>the face of the world<br>as we know it <br>whether it is a piece<br>of research,a machine,</p>
   <p style="color: black; font-size: 17px ;margin-top:-170px;font-family: monospace; text-align: right; "> a discovery, <br>or a theory that<br>greatly contributed<br> to scientific<br> knowledge. Here <br>are just ten of the<br> several influential <br>women that<br> changed history.</p>
   
  <table style="margin-right: auto;margin-left:auto; text-align: center;">
    <style>
      table,
        td {
            border: 1px solid #333;
            margin-top: -190px;
        }
        
        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style>
    <thead>
        <tr>
            <th colspan="2">IMPORTANT STEM INVENTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.historyofvaccines.org/timeline/all"><br>Vaccine<br></a></td>
            <td><a href="https://www.nasa.gov/audience/forstudents/9-12/features/telescope_feature_912.html"><br>Telescope<br></a></td>
        </tr>
      	<tr>
          <td><a href="https://www.energy.gov/articles/war-currents-ac-vs-dc-power"><br>Alternate Current<br> Electricity<br></a></td>
          <td><a href="https://www.scientificamerican.com/article/the-evolution-of-the-periodic-system/"><br>Periodic Table<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.tutorialspoint.com/history-of-microprocessor#:~:text=In%201971%2C%20the%20first%20microprocessor,clock%20to%20perform%20computational%20tasks."><br>Microprocessor<br></a></td>
        <td><a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet/"><br>Internet<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.history.com/tag/aviation"><br>Aviation<br></a></td>
        <td><a href="http://www.wirelesscommunication.nl/reference/chaptr07/telgraph.htm"><br>Wireless Telegraphy<br></a></td>
        </tr>
      <tr>
        <td><a href="https://builtin.com/robotics"><br>Robotics<br></a></td>
        <td><a href="https://www.nano.gov/nanotech-101/what/definition"><br>Nanotechnology<br></a></td>
        </tr>
     
    </tbody>
  </table>
</div>