<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
    </div>
    <div style="background-color:grey;width: 60%;border-width: thick;padding-top:10px;padding-right: 15px;padding-left: 15px;padding-bottom:10px ;border:10px solid white ;
  margin-right: auto;margin-left:auto;">
    <h1 style="font-family: monospace; font-size: 25px"><strong><u>HOW TO JOIN:</u></strong>
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>If you would like to become a member of the T.E.@.M. Careers Club, please follow the instructions below.</strong></p>
    
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>If you are specifically interested in the<br>Technology department:</strong>Contact <a href="mailto:3277@nazarethacademyhs.org">Hannah Rogers</a></p>
    <br style="line-height: 3px;">
    <p style="font-family: monospace;color: white;font-size: 17px"><strong>If you are specifically interested in the<br>Engineering department:</strong>Contact <a href="mailto:3274@nazarethacademyhs.org">Jillian Rayca</a></p>
    <br style="line-height: 3px;">
    <p style="font-family: monospace;color: white;font-size: 17px; text-align: center;"><strong>If you are specifically interested in the<br>Medicinal department:</strong>Contact <a href="mailto:3226@nazarethacademyhs.org">Alyssa Devine</a></p>
   </h1>
</div>