<!DOCTYPE html>
  <metrset="UTF-8">
  <head>
    <title>T.E.@.M. Careers</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
  </head>
  <body style="background-color: black; overflow:hidden">
    <h1 id="title">T.E.@.M. Careers Club</h1>
    <div class="topnav">
      <ul class="active">
          <a href="/" style="margin-left: 120px;">Home</a>
          <a href="/about">Who We Are and What We Do</a>
          <a href="/join" >How To Join</a>
        <div class="dropdown">
          <a class="dropbtn">Innovation</a>
          <div class="dropdown-content" >
            <a href="/people" id="people"style="background-color: whitesmoke;color:black">People</a>
            <a href="/invent" id="invent"style="background-color: whitesmoke;color:black">Inventions</a>
            <a href="/event" id="event"style="background-color: whitesmoke;color:black">Events</a>
          </div>
        </div> 
    </ul>
  </div>
  <div style="background-color:white;width: 60%;border-width: thick;color:black;padding:20px;border:10px solid turquoise;
  margin-right: auto;margin-left:auto;font-family: monospace;font-size: 15px">
  <p style="color: black;font-size: 17px ;font-family: monospace; text-align: left;">Throughout history, <br>numerous women have <br>revolutionized the face <br>of the world as <br>we know it through <br>their research,  <br>machines, discoveries,</p>
  <p style="color: black; font-size: 17px ;margin-top:-150px;font-family: monospace; text-align: right;">and contributions<br> to scientific<br> knowledge. Here <br>are just ten of the<br> several influential <br>women that<br> changed history.</p>
  <table style="margin-right: auto;margin-left:auto">
    <style>
      table,
        td {
            border: 1px solid #333;
            margin-top: -150px;
        }
        
        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style>
    <tr>
            <th colspan="2" style="background-color: #333;color: white">IMPORTANT STEM SCIENTISTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.nasa.gov/content/katherine-johnson-biography"><br>Katherine Johnson<br></a></td>
            
            <td><a href="https://www.newyorker.com/tech/annals-of-technology/ada-lovelace-the-first-tech-visionary"><br>Ada Lovelace<br></a></td>
        </tr>
      	<tr>
          <td><a href="https://www.womenshistory.org/education-resources/biographies/hedy-lamarr"><br>Hedy Lamarr<br></a></td>
           
          <td><a href="https://www.biography.com/scientist/grace-hopper"><br>Grace Hopper<br></a></td>
        </tr>
      <tr>
        <td><a href="http://www.nature.com/scitable/topicpage/rosalind-franklin-a-crucial-contribution-6538012"><br>Rosalind Franklin<br></a></td>
      
        <td><a href="https://www.history.com/topics/womens-history/florence-nightingale-1"><br>Florence Nightingale<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.nobelprize.org/prizes/physics/1903/marie-curie/biographical/"><br>Marie Curie<br></a></td>
        
        <td><a href="https://www.smithsonianmag.com/science-nature/pioneering-female-botanist-who-sweetened-nation-and-saved-valley-180972765/"><br>Janaki Ammal<br></a></td>
        </tr>
      <tr>
        <td><a href="https://www.space.com/vera-rubin.html"><br>Vera Rubin<br></a></td>
     
        <td><a href="https://cfmedicine.nlm.nih.gov/physicians/biography_35.html"><br>Elizabeth Blackwell<br></a></td>
      </tr>
    </tbody>
  </table>
</div>
